RewriteEngine On

# Define base directory if .htaccess is not at the root

RewriteBase /LMS/

# Externally rewrite URL to hide /source/admin in the browser

RewriteRule ^admin-login$ source/admin/admin-login.php [L,QSA]
RewriteRule ^admin-dashboard$ source/admin/admin-dashboard.php [L,QSA]

# Prevent direct access to the /source/ directory but allow specific pages

RewriteCond %{REQUEST_URI} !^/LMS/source/admin/
RewriteRule ^source/ - [F,L]

# Prevent directory listing

Options -Indexes
